<VirtualHost *:80>
    ServerName {{ item.server_name }}
    {% if item.server_aliases is defined %}
    ServerAlias {% for alias in item.server_aliases %}{{ alias }} {% endfor %}
    {% endif %}
    
    DocumentRoot {{ item.root }}
    
    <Directory {{ item.root }}>
        Options Indexes FollowSymLinks
        AllowOverride All
        Require all granted
    </Directory>

    {% if item.aliases is defined %}
    {% for alias in item.aliases %}
    Alias {{ alias.path }} {{ alias.directory }}
    <Directory {{ alias.directory }}>
        Options Indexes FollowSymLinks
        AllowOverride All
        Require all granted
    </Directory>
    {% endfor %}
    {% endif %}
    
    ErrorLog ${APACHE_LOG_DIR}/{{ item.server_name }}_error.log
    CustomLog ${APACHE_LOG_DIR}/{{ item.server_name }}_access.log combined

    # Include Certbot configuration (will be added by Certbot)
    IncludeOptional /etc/letsencrypt/options-ssl-apache.conf
</VirtualHost>

# The SSL configuration will be managed by Certbot, which will generate a
# separate -le-ssl.conf file for each domain it manages