apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: fluent-bit
  namespace: argocd
  annotations:
    argocd.argoproj.io/sync-wave: "2"
spec:
  project: default
  source:
    repoURL: https://fluent.github.io/helm-charts
    chart: fluent-bit
    targetRevision: 0.48.0
    helm:
      values: |
        config:
          inputs: |
            [INPUT]
                Name              tail
                Path              /var/log/containers/*.log
                multiline.parser  docker, cri
                Tag               kube.*
                Mem_Buf_Limit     5MB
                Skip_Long_Lines   On
                Refresh_Interval  30
          filters: |
            [FILTER]
                Name                kubernetes
                Match               kube.*
                Merge_Log           On
                Keep_Log            Off
                K8S-Logging.Parser  On
                K8S-Logging.Exclude On
          outputs: |
            [OUTPUT]
                Name                 loki
                Match                kube.*
                Host                 loki.monitoring.svc
                Port                 3100
                Labels               job=fluent-bit, namespace=$kubernetes['namespace_name'], pod=$kubernetes['pod_name'], container=$kubernetes['container_name'], app=$kubernetes['labels']['app']
                Remove_Keys          $kubernetes,$stream,$_p
                Line_Format          json
        resources:
          requests:
            cpu: 25m
            memory: 32Mi
          limits:
            cpu: 100m
            memory: 64Mi
  destination:
    server: https://kubernetes.default.svc
    namespace: monitoring
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
