apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: fluent-bit
  namespace: argocd
  annotations:
    argocd.argoproj.io/sync-wave: "2"
spec:
  project: default
  source:
    repoURL: https://fluent.github.io/helm-charts
    chart: fluent-bit
    targetRevision: 0.48.0
    helm:
      values: |
        config:
          inputs: |
            [INPUT]
                Name              tail
                Path              /var/log/containers/*.log
                multiline.parser  docker, cri
                Tag               kube.*
                Mem_Buf_Limit     5MB
                Skip_Long_Lines   On
          filters: |
            [FILTER]
                Name                kubernetes
                Match               kube.*
                Merge_Log           On
                Keep_Log            Off
                K8S-Logging.Parser  On
                K8S-Logging.Exclude On
            [FILTER]
                Name          nest
                Match         kube.*
                Operation     lift
                Nested_under  kubernetes
                Add_prefix    k8s.
            [FILTER]
                Name          nest
                Match         kube.*
                Operation     lift
                Nested_under  k8s.labels
                Add_prefix    label.
            [FILTER]
                Name          modify
                Match         kube.*
                Remove        stream
                Remove        _p
                Remove        k8s.pod_id
                Remove        k8s.docker_id
                Remove        k8s.container_hash
                Remove        k8s.container_image
                Remove        k8s.host
                Remove        k8s.pod_ip
                Remove        k8s.annotations
          outputs: |
            [OUTPUT]
                Name                 loki
                Match                kube.*
                Host                 loki.monitoring.svc
                Port                 3100
                Labels               job=fluent-bit
                Label_Keys           k8s.namespace_name, k8s.pod_name, k8s.container_name, label.app
                Remove_Keys          k8s.namespace_name, k8s.pod_name, k8s.container_name, label.app, label.pod-template-hash
                Line_Format          json
        resources:
          requests:
            cpu: 50m
            memory: 64Mi
          limits:
            cpu: 200m
            memory: 128Mi
  destination:
    server: https://kubernetes.default.svc
    namespace: monitoring
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
