apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: argocd-ingress
  namespace: argocd
  annotations:
    kubernetes.io/ingress.class: "traefik"
    traefik.ingress.kubernetes.io/router.entrypoints: websecure
    kubernetes.io/tls-acme: "true"
    cert-manager.io/cluster-issuer: cloudflare-dns
spec:
  tls:
  - hosts:
    - argocd.zachsexton.com
    secretName: argocd-tls
  rules:
  - host: argocd.zachsexton.com
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: argocd-server
            port:
              number: 443
