apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: ballroom-syllabi-data
  namespace: web
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: local-path
  resources:
    requests:
      storage: 1Gi
