server {
    listen 80;
    server_name {{ item.server_name }} www.{{ item.server_name }};
    
    # Redirect all HTTP traffic to HTTPS
    location / {
        return 301 https://$host$request_uri;
    }
    
    # Allow Let's Encrypt verification to work
    location /.well-known/acme-challenge/ {
        root /var/www/letsencrypt;
    }
}