server {
    listen 80;
    {% if item.ssl_certificate is defined %}
    listen 443 ssl;
    ssl_certificate {{ item.ssl_certificate }};
    ssl_certificate_key {{ item.ssl_certificate_key }};
    {% endif %}

    server_name {{ item.server_name }};
    root {{ item.root }};

    index index.html index.htm;

    location / {
        try_files $uri $uri/ =404;
    }

    # Logging
    access_log /var/log/nginx/{{ item.server_name }}_access.log;
    error_log  /var/log/nginx/{{ item.server_name }}_error.log;
}
